# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Library/ShaderCache/2/227d838126c808af7c4f0f0ee66b8730.bin
Library/ShaderCache/d/daba83f485770c9e3e3c4a05a0740074.bin
obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.dll.mdb
